$innerWidth: 90%;
$headerHeight: 130px;

#jjcanvas_bg{
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @include draggable_off;
    canvas{
        @include draggable_off;
        @include fullsize;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.circle{
    max-width: 1600px;
    width: 100%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: -1;
    @include draggable_off;
    *{
        @include draggable_off;
    }
    .hellojj_bg{
        @include fullsize;
        img{
            @include fullsize;
            object-fit: cover
        }
    }
}
@media (max-width:1024px){
    .circle{
        max-width: 1920px;
        width: 110%;
        top: 0px;
        transform: translateX(-50%)
    }
}

.hello_jj_wrap_bg {
    @include position-absolute-center;
    @include fixed-wh(100px);
}

// gnb
.gnb_header {
    width: 100%;
    height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    .header-wrap {
        width: $innerWidth;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .logo-box{
            position: fixed;
            width: $innerWidth;
            height: $headerHeight;
            left: 50%;
            transform: translateX(-50%);
            right: 0;
            display: flex;
            align-items: center;
            z-index: 100;
            pointer-events: none;
            a.logo {
                display: flex;
                max-width: 146px;
                pointer-events: visible;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .menuicon-box {
            width: $innerWidth;
            height: $headerHeight;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            left: 50%;
            top: 0;
            position: fixed;
            z-index: 100;
            pointer-events: none;
            transform: translateX(-50%);
            .menuicon {
                width: 40px;
                height: 24px;
                position: relative;
                cursor: pointer;
                pointer-events: visible;
                transform: translateY(-30px);
                opacity: 0; pointer-events: none; visibility: hidden;
                transition: .7s;
                span {
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    opacity: .8;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: .3s;
                    &:nth-child(1){
                        top: 0;
                    }
                    &:nth-child(2){
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &:nth-child(3){
                        top: 100%;
                        transform: translate(-50%,-50%);
                    }
                }
            }

            &.active {
                .menuicon{
                    transform: translateY(0px);
                    opacity: 1;
                    pointer-events: visible;
                    visibility: visible;
                }
            }
        }
        .gnb {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-family: "Red Hat Display", sans-serif;
            gap: 100px;
            position: absolute;
            z-index: 2;
            pointer-events: none;
            >li {
                position: relative;
                width: 120px;
                pointer-events: visible;
                .a-box {
                    width: 100%;
                    height: 30px;
                    position: relative;
                    overflow: hidden;
                    font-size: 20px;
                    a.normal {
                        font-weight: 500;
                        height: 100%;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        bottom: 0;
                        transition: .35s;
                        cursor: pointer;
                    }

                    a.motion {
                        position: absolute;
                        font-weight: bold;
                        color: #df1f26;
                        transition: .35s;
                        bottom: -100%;
                        cursor: pointer;
                        left: 0;
                        text-shadow: #860000 1px 0 3px;
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 30px;
                    opacity: 0;
                    pointer-events: none;
                    transition: .3s;
                    text-align: left;
                    left: 0;

                    li {
                        a {
                            display: block;
                            margin: 10px 0;
                            color: #fff;
                            font-weight: 500;
                            font-size: 20px;
                            transition: .3s;
                        }
                    }
                }

                &:hover {
                    a.normal {
                        bottom: 30px;
                    }

                    a.motion {
                        bottom: 0;
                    }
                }

                &.active {
                    .sub-menu {
                        opacity: 1;
                        pointer-events: visible;
                    }
                }
            }
        }
    }

    .util {
        background-color: transparent;
        position: fixed;
        bottom: 50px;
        left: 30px;
        z-index: 3;

        .sns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;

            li {
                width: 30px;
                height: 30px;

                a {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    i {
                        font-size: 27px;
                    }
                }
            }
        }
    }

    .side {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        overflow: hidden auto;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #000;
        clip-path: circle(0vw at 0px 0px);
        transition: .8s;
        >*:not(.circle,#jjcanvas_bg){
            width: $innerWidth;
        }
        .gnb {
            position: relative;
            z-index: 5;
            margin: 0 auto;
            margin-top: 200px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            >li {
                // max-width: 500px;
                // width: 100%;
                margin-bottom: 10px;

                .a-box {
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    a {
                        font-size: 60px;
                        font-weight: bold;
                        color: #fff;
                        line-height: 1;
                        display: inline-block;
                        height: 60px;
                        transition: .4s;
                    }

                    .normal {
                        position: relative;
                        bottom: 0;
                    }

                    .motion {
                        color: #df1f26;
                        position: absolute;
                        left: 0;
                        font-weight: bold;
                        bottom: -60px;
                        text-shadow: #860000 1px 0 3px;
                    }

                    .arrow {
                        width: 40px;
                        object-fit: contain;
                        transition: .5s;
                    }

                    &.active {
                        .arrow {
                            transform: rotate(180deg);
                        }
                    }
                    &:hover{
                        .normal {
                            bottom: 60px;
                        }

                        .motion {
                            bottom: 0;
                        }
                    }
                }

                .sub-menu {
                    display: none;
                    position: relative;
                    margin-top: 10px;
                    li {
                        margin-bottom: 10px;
                        position: relative;
                        overflow: hidden;
                        a {
                            display: block;
                            height: 30px;
                            font-size: 30px;
                            font-weight: 500;
                            color: #fff;
                            position: relative;
                            transition: .4s;
                            bottom: 0;
                            line-height: 1;
                            &.motion{
                                position: absolute;
                                left: 0;
                                bottom: -32px;
                                color: #df1f26;
                                text-shadow: #860000 1px 0 3px;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                            a{
                                bottom: 32px;
                                &.motion{
                                    bottom: 0;                                    
                                }
                            }
                        }
                    }
                }

            }
        }
        .foot{
            font-size: 20px;
            color: #e7e7e7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            position: relative;
            z-index: 5;
            .foot-wrap{
                .sns {
                    display: none;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 30px;
                    margin-bottom: 20px;

                    li {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            width: 30px;
                            img{
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .mo-only {
                    display: none;
                }
            }
            .project-btn {
                position: relative;
                color: #Fff;

                .text {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: -145px;
                    opacity: 1;
                    transition: 1s;

                    p {
                        white-space: nowrap;
                    }

                    .arrow {
                        margin-left: 20px;
                        width: 42px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .box {
                    width: 115px;
                    transform: scale(1);
                    transition: .5s .5s;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

    }
    &.on{
        .menuicon-box{
            .menuicon{
                span{
                    &:nth-child(1){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(45deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(-45deg);
                    }
                }
            }
        }
        .header-wrap{
        }
        .side{
            transition: 1.8s;
            pointer-events: visible;
        }
    }
}

.gnb_footer {
    .fot_br {
        display: none;
    }

    background-color: transparent;
    position: relative;
    width: 100%;
    .hello_jj_wrap {
        $wh: 100vw;
        max-width: 1600px;
        max-height: 1600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(1600px / -1.5);
        width: $wh;
        height: $wh;
        z-index: -2;
    }

    &.marginTop {
        margin-top: 100px;
    }

    width: 100%;
    font-family: 'Noto Sans KR',
    sans-serif;
    padding: 100px 0;
    position: relative;
    z-index: 3;

    .inner {
        max-width: 1440px;
        width: $innerWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        position: relative;
        z-index: 1;

        .left {
            color: #Fff;
            display: flex;
            flex-direction: column;
            gap: 35px;
            border-right: 1px solid #fff;
            padding-right: 100px;
            line-height: 1.5;

            ul {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 5px 0;

                    sup {
                        height: 100%;
                        margin: 2px 10px 0 5px;
                        display: inline-block;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .right {
            position: relative;
            color: #Fff;

            .text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                left: -120px;
                opacity: 1;
                transition: 1s;

                p {
                    white-space: nowrap;
                }

                .arrow {
                    margin-left: 20px;
                }
            }

            .box {
                width: 115px;
                transform: scale(1);
                transition: .5s .5s;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .overview-bg {
        position: absolute;
        z-index: -1;
        $wh: 100vw;
        width: $wh;
        height: $wh;
        max-width: 900px;
        max-height: 900px;
        min-width: 700px;
        min-height: 700px;
        top: calc(900px / -1.4);
        left: 40%;
        transform: translateX(-50%);

        .hellojj {
            @include fullsize;

            img {
                @include fullsize;
                object-fit: cover;
            }
        }
    }

    &.main_footer {
        overflow: hidden;
    }
}

@media (max-width:1440px) {
    $headerHeight: 110px;

    .gnb_header {
        height: $headerHeight;
        .header-wrap {
            width: 100%;
            margin: 0;
            padding: 0 4%;
            .logo-box{
                height: $headerHeight;
                a.logo {
                    width: 130px;
                    font-size: 18px;
                }
            }
            .menuicon-box{
                height: $headerHeight;
            }
            .gnb{
                gap: 50px;
                >li:not(li:last-child){
                    width: 90px;
                }
                >li{
                    .a-box{
                        
                    }
                }
            }
        }

        .util {
            display: none;
            left: 4%;
            bottom: 30px;

            .sns {
                gap: 30px;

                li {
                    width: 35px;
                    height: 35px;

                    a {
                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .side {
            >*:not(.circle,#jjcanvas_bg){
                width: 100%;
                padding: 0 4%;
            }
            .gnb{
                margin: 0;
                margin-top: 200px;
                >li{
                    .a-box{
                        a{
                            font-size: 50px;
                            height: 50px;
                        }
                        .motion{
                            bottom: -50px;
                        }
                        &:hover{
                            .normal{
                                bottom: 50px;
                            }
                        }
                    }
                    .sub-menu{
                        li{
                            a{
                                font-size: 24px;
                                height: 24px;
                                &.motion{
                                    bottom: -24px;
                                }
                            }
                            &:hover{
                                a{
                                    bottom: 26px;
                                }
                            }
                        }
                    }
                }
            }
            .foot{
                font-size: 18px;
                .foot-wrap{
                    .sns{
                        display: flex;
                    }
                }
            }
        }
    }

    .gnb_footer {
        &.marginTop {
            margin-top: 60px;
        }

        padding: 80px 0;

        .inner {
            width: 100%;
            margin: 0;
            padding: 0 4%;
        }
    }
}

@media (max-width:1024px) {
    $headerHeight: 90px;

    .gnb_header {
        height: $headerHeight;

        .header-wrap {
            .logo-box{
                height: $headerHeight;
                a.logo{
                    width: 120px;
                }
            }
            .menuicon-box{
                height: $headerHeight;
            }
            .gnb{
                display: none;
            }
        }

        .side {
            .gnb{
                margin-top: 180px;
                width: 100%;
                >li{
                    .a-box{
                        gap: 10px;
                        a{
                            font-size: 42px;
                            height: 42px;
                        }
                        .motion{
                            bottom: -42px;
                        }
                        .arrow{
                            width: 26px;
                        }
                        &:hover{
                            .normal{
                                bottom: 42px;
                            }
                        }
                    }
                    .sub-menu{
                        li{
                            a{
                                font-size: 22px;
                                height: 22px;
                                &.motion{
                                    bottom: -22px;
                                }
                            }
                            &:hover{
                                a{
                                    bottom: 24px;
                                }
                            }
                        }
                    }
                }
            }
            .foot{
                font-size: 16px;
                .foot-wrap{
                    .sns{
                        gap: 25px;
                        li{
                            a{
                                width: 25px;
                            }
                        }
                    }
                }
                .project-btn{
                    .text{
                        left: -110px;
                        .arrow{
                            margin-left: 10px;
                            width: 34px;
                        }
                    }
                    .box{
                        width: 90px;
                    }
                }
            }
        }
    }

    .gnb_footer {
        &.marginTop {
            margin-top: 40px;
        }

        padding: 60px 0;

        .inner {
            .left {
                gap: 20px;
                font-size: 16px;
                padding-right: 50px;
                border-right: none;
            }

            .right {
                .text {
                    left: -100px;

                    .arrow {
                        margin-left: 10px;
                    }
                }

                .box {
                    width: 100px;
                }
            }
        }

        .overview-bg {
            $wh: 600px;
            width: $wh;
            height: $wh;
            max-height: $wh;
            max-width: $wh;
            min-width: 600px;
            min-height: 600px;
            top: calc($wh / -1.7);
            left: 50%;
        }
    }
}

@media (max-width:767px) {
    $headerHeight: 80px;

    .gnb_header {
        height: $headerHeight;

        .header-wrap {
            .logo-box{
                height: $headerHeight;
                a.logo{
                    width: 110px;
                }
            }
            .menuicon-box{
                height: $headerHeight;
                .menuicon{
                    width: 30px;
                    height: 18px;
                }
            }
        }
        .side{
            .gnb{
                margin-top: 150px;
                >li{
                    .a-box{
                        a{
                            font-size: 38px;
                            height: 38px;
                        }
                        .motion{
                            bottom: -38px;
                        }
                        .arrow{
                            width: 24px;
                        }
                        &:hover{
                            .normal{
                                bottom: 38px;
                            }
                        }
                    }
                    .sub-menu {
                        li {
                            a {
                                font-size: 20px;
                                height: 20px;
                                &.motion{
                                    bottom: -20px;
                                }
                            }
                            &:hover{
                                a{
                                    bottom: 22px;
                                }
                            }
                        }
                    }
                }
            }
            .foot{
                flex-direction: column-reverse;
                align-items: flex-end;
                justify-content: center;
                gap: 30px;
                .foot-wrap{
                    width: 100%;
                }
            }
        }
    }

    .gnb_footer {
        &.marginTop {
            margin-top: 0;
        }

        padding: 40px 0 60px;

        .inner {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 40px;
            font-size: 14px;

            .logo {
                font-size: 16px;
            }

            .left {
                width: 100%;
                gap: 15px;
                padding-right: 0;
                border-right: none;
                font-size: 14px;
            }

            .right {
                display: none;
                margin-left: 100px;
            }
        }
    }
}


@media (max-width:450px) {
    $headerHeight: 60px;

    .gnb_header {
        height: $headerHeight;

        .header-wrap {
            .logo-box{
                height: $headerHeight;
                a.logo{
                    width: 80px;
                }
            }
            .menuicon-box{
                height: $headerHeight;
                .menuicon{
                    width: 25px;
                    height: 14px;
                }
            }
        }

        .side {
            .gnb{
                margin-top: 100px;
                >li{
                    .a-box{
                        a{
                            font-size: 30px;
                            height: 30px;
                        }
                        .motion{
                            bottom: -30px;
                        }
                        .arrow{
                            width: 22px;
                        }
                        &:hover{
                            .normal{
                                bottom: 30px;
                            }
                        }
                    }
                    .sub-menu{
                        li{
                            a{
                                font-size: 18px;
                                height: 18px;
                                &.motion{
                                    bottom: -18px;
                                }
                            }
                            &:hover{
                                a{
                                    bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .foot{
                font-size: 14px;
                gap: 10px;
                .foot-wrap{
                    .sns{
                        gap: 20px;
                        li{
                            a{
                                width: 20px;
                            }
                        }
                    }
                }
            }
            .inner {

                .center,
                .copy {
                    margin-left: initial;
                }

                .head {
                    a.logo {
                        width: 80px;
                    }

                    .close_btn {
                        width: 25px;
                        height: 25px;
                    }
                }

                .center {
                    .gnb {
                        >li {
                            margin-bottom: 5px;

                            .a-box {
                                a {
                                    font-size: 32px;
                                }
                            }

                            .sub-menu {
                                li {
                                    margin: 5px 0;

                                    a {
                                        font-size: 20px;
                                    }
                                }
                            }

                            &:hover {
                                .a-box {
                                    a {
                                        bottom: -36px;
                                    }
                                }
                            }
                        }
                    }
                }

                .copy {
                    font-size: 14px;

                }
            }
        }
    }

    .gnb_footer {
        padding: 20px 0 60px;

        .inner {
            font-size: 12px;
            gap: 20px;

            .left {
                font-size: 12px;
            }
        }

        .overview-bg {
            $wh: 100%;
            width: $wh;
            height: $wh;
            max-height: $wh;
            max-width: $wh;
            min-width: 375px;
            min-height: 375px;
            top: calc($wh / -2);
        }
    }
}



.gnb_header .side .inner {
    position: relative;
}

.hello_jj_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 1000px;
}
