.jj_ani_return{transform: translate(50px,50px);} /* 기본값 */

#main_page {
    .ms_02 {
        .se_01_01{transform: translate(50px,0);}
        .se_01_02{transform: translate(-50px,0);}
        .content {
            dl {
                &:nth-child(1n) {transform: translate(0,-150px);}
                &:nth-child(2n) {transform: translate(0,-100px);}
                &:nth-child(3n) {transform: translate(0,-50px);}
            }
        }
    }
    .ms_03{
        .s_title{
            h2{
                p {transform: translate(50px,0);}
            }
        }
    }
    .ms_04 {
        .se_04_01{transform: translate(50px,0);}
        .se_04_02{transform: translate(-50px,0);}
        .se_04_03{transform: translate(0,150px);}

        figure {
            transform: translate(50%, 0);
        }
    }
    .ms_05{
        .se_05_01{transform: translate(50px,0);}
        .se_05_02{transform: translate(-50px,0);}
        .se_05_03{transform: translate(-50px,0);}
    }
    .ms_06 {
        .se_06_01{transform: translate(-50px,0);}
        .se_06_02{transform: translate(50px,0);}
        ul {
            li {
                &:nth-child(1n) {transform: translate(0,-100px);}
                &:nth-child(2n) {transform: translate(0,-150px);}
                &:nth-child(3n) {transform: translate(0,-200px);}
            }
        }
    }
    .ms_07{
        .se_07_01{transform: translate(50px);}
        .se_07_02{transform: translate(-50px);}
        .se_07_03{transform: translate(50px,-50px);}
    }
}

#sub{
    &.portfolio_youonejae{
        .aa-move{transform: translate(-30px,30px);}
        .scroll-section{
            .move01{transform: translate(0,-50px);}
            .move02{transform: translate(0,50px);}

            .move03{transform: translate(0,-50px);}
            .move04{transform: translate(0,50px);}

            .move05{transform: translate(0,50px);}
            .move06{transform: translate(0,-50px);}
        }
    }
    &.estimate{
        .wrap{
            &.schedule-info{
                .f_submit{transform: translate(-50px,-50px);}
            }
        }
    }
    &.recruitment{
        .wrap{
            &.section01{
                .move01{transform: translate(-50px,0);}
            }
            &.section02{
                .move01{transform: translate(50px,0);}
            }
            &.section03{
                .move01 {transform: translate(-50px, 0);}
                .move02{transform: translate(50px,0);}
            }
        }
    }
}



@media (max-width:767px){
    #main_page{
        .ms_02 {
            .content {
                dl {
                    &:nth-child(1n) {transform: translate(0,0) !important;}
                    &:nth-child(2n) {transform: translate(0,0) !important;}
                    &:nth-child(3n) {transform: translate(0,0) !important;}
                }
            }
        }
    }
}

#sub.overview{
    .wrap.section02{
        .move01{transform: translate(50px,0);}
        .move02{transform: translate(-50px,0);}
        
        .move03{transform: translate(50px,0);}
        .move04{transform: translate(-50px,0);}
        .move05{transform: translate(50px,0);}
    }

    .wrap.section03{
        .move01{transform: translate(0,50px);}
        .move02{transform: translate(0,-50px);}

        .move03{transform: translate(0,-50px);}
        .move04{transform: translate(0,50px);}
        .move05{transform: translate(0,-50px);}
        .move06{transform: translate(0,50px);}
    }

    .wrap.section04{
        .move01{transform: translate(0, -100px);}
        .move02{transform: translate(0, -150px);}
        .move03{transform: translate(0, -200px);}
    }
}

