main {
    #sub {
        .circle-bg{
            @include draggable_off;
            position: absolute;
            z-index: -1;
            *{
                @include draggable_off;
            }
            .hellojj{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.overview {
            .inner {
                position: relative;
                .main01-bg{
                    $wh: 100vw;
                    width: $wh;
                    height: $wh;
                    top: calc(1600px / -2);
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 1600px;
                    max-height: 1600px;
                    min-width: 1600px;
                    min-height: 1600px;
                }
                .main01 {
                    position: relative;
                    .title01 {
                        span {
                            display: block;
                            @include fs-220;
                            font-weight: 900;
                            line-height: 1;
                            position: relative;
                            opacity: 0;
                            white-space: nowrap;
                        }

                        .top {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 70px;
                            span{
                                animation: pos-fade-left 1s .3s forwards;
                            }
                        }

                        .text {
                            @include fs-30;
                            line-height: 1.5;
                            font-weight: 300;
                            margin-top: 25px;
                            opacity: 0;
                            position: relative;
                            animation: fade-on 1s .9s forwards;
                        }

                        p {
                            padding-left: 18%;
                            span{
                                animation: pos-fade-right 1s .6s forwards;    
                            }
                        }
                    }

                    .img-wrap {
                        width: 100%;
                        margin-top: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        animation: fade-on 1s .9s forwards;
                        img {
                            max-width: 370px;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .wrap {
                    position: relative;
                    z-index: 3;
                    &.section01 {
                        margin-bottom: 200px;
                        h2 {
                            @include fs-75;
                            font-weight: 900;
                            color: #c10017;
                            margin-bottom: 70px;
                        }

                        p {
                            @include fs-28;
                            line-height: 1.5;
                            font-weight: normal;
                        }
                        .section01-bg{
                            $wh: 1200px;
                            width: $wh;
                            height: $wh;
                            max-width: $wh;
                            max-height: $wh;
                            right: calc($wh / -1.3);
                            top: 0
                        }
                    }

                    &.section02 {
                        .title {
                            @include fs-120;
                            font-weight: 900;
                            line-height: 1;
                            margin-bottom: 300px;
                            p {
                                &:nth-child(2) {
                                    padding-left: 30%;
                                }
                            }
                        }

                        ul {
                            li {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                margin-bottom: 250px;
                                .img-wrap{
                                    position: absolute;
                                    z-index: 2;
                                }
                                .text {
                                    padding-left: 25%;
                                    position: relative;
                                    z-index: 3;
                                    h3 {
                                        @include fs-48;
                                        font-weight: 900;
                                        margin-bottom: 40px
                                    }

                                    p {
                                        @include fs-28;
                                        font-weight: normal;
                                        line-height: 1.5;
                                    }
                                }
                                &:nth-of-type(1){
                                    z-index: 2;
                                    .img-wrap{
                                        left: 80px;
                                    }
                                }
                                &:nth-of-type(2){
                                    z-index: 1;
                                    .img-wrap{
                                        left: initial;
                                        right: -200px;
                                        top: -300px;
                                    }
                                }
                                &:nth-child(3){
                                    z-index: 2;
                                    .img-wrap{
                                        left: 20px;
                                        top: -150px;
                                    }
                                }
                                &:last-child{
                                    margin-bottom: 0;     
                                }
                                
                            }
                        }
                    }

                    &.section03 {
                        position: relative;
                        width: 100%;
                        padding: 300px 0;
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        .section03-bg{
                            $wh:100vw;
                            width: $wh;
                            height: $wh;
                            left: calc(1400px / -1);
                            max-width: 1400px;
                            max-height: 1400px;
                            top: -200px;
                        }
                        .right {
                            width: 100%;
                            max-width: 850px;
                        }

                        .title {
                            @include fs-120;
                            font-weight: 900;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;
                            line-height: 1;
                            margin-bottom: 150px;
                        }

                        ul {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 100px;

                            li {
                                width: calc(100% / 2 - 50px);
                                .icon-wrap{
                                    margin-bottom: 15px;
                                    width: 40px;
                                    img{
                                        width: 100%;
                                        object-fit: contain
                                    }
                                }
                                strong {
                                    @include fs-40;
                                    color: #df1f26;
                                    margin-bottom: 10px;
                                    display: block;
                                }

                                p {
                                    @include fs-20;
                                    line-height: 1.3;
                                }
                            }
                        }
                    }

                    &.section04 {
                        padding: 100px 0 300px;
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 80px;

                            li {
                                width: calc(100% / 3 - (80px * 2 / 3));

                                img {
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }

                .section04-bg{
                    $wh : 100vw;
                    width:  $wh;
                    height:  $wh;
                    max-width: 900px;
                    max-height: 900px;
                    min-width: 700px;
                    min-height: 700px;
                    bottom: calc(900px / -2.3);
                    z-index: 1;
                    left: 60px;
                }
            }
        }
    }
}   